" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your _vimrc
" source ~/_vimrc

set mapleader = " "

" --------------------------------------
" which-key plugin
" --------------------------------------
set which-key

" disable the timeout option
set notimeout

" increase the timeoutlen (default: 1000), don't add space around the equal sign
set timeoutlen=5000

" --------------------------------------
" AceJump plugin
" In plugin settings, disable all modes for AceJump except the target-mode.
" --------------------------------------
nnoremap gw :action AceAction<CR>
xnoremap gw :action AceAction<CR>

" --------------------------------------
" Helix style goto change region
" --------------------------------------
nnoremap ]c :action VcsShowNextChangeMarker<CR>
nnoremap [c :action VcsShowPrevChangeMarker<CR>

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

" Use system clipboard by default
set clipboard=unnamed
" Or use both unnamed registers
" set clipboard=unnamed,unnamedplus
set clipboard+=ideaput

set functiontextobj
set surround
